<div id='home' class="container">
    <h1>Welcome</h1>
    <h1>Social Media App</h1>
    <h1>
        <a href="/auth/google" class='btn-social btn-gplus btn-lg'><i class="fab fa-google-plus"></i> SignUp With Google</a>
    </h1>
    <h1>
        <a href='/' class='btn-social btn-facebook btn-lg'><i class="fab fa-facebook"></i> SignUp With Facebook</a>
    </h1>
    <h1>
        <a href='/' class='btn-social btn-instagram btn-lg'><i class="fab fa-instagram"></i> SignUp With Instagram</a>
    </h1>
</div>