<!DOCTYPE html>
<html>
<head>
  <title>To Do List</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <link rel="stylesheet" href="style.css">
  <script src="script.js" defer></script>
</head>
<body>
  <div id="container">
    <h1>To-Do List <i class="fa fa-plus" aria-hidden="true"></i></h1>
    <input type="text" placeholder="Add New Todo">

    <ul>
      <li><span><i class="fa fa-trash"></i></span> Go To IT Class</li>
      <li><span><i class="fa fa-trash"></i></span> Buy New Shirt</li>
      <li><span><i class="fa fa-trash"></i></span> Visit Hagrid</li>
    </ul>
  </div>
</body>
</html>

